{{> navbar}}
<div class="container mt-5 mb-5">
   <div class="row">
      {{#if sertificates}}
         <div class="col-12">
            {{#if error}}
               <div class="alert alert-danger text-center">{{error}}</div>
            {{/if}}
            <div class="row">
               <div class="col-lg-4 mb-lg-0 mb-3">
                  <a href="/islom/download" class="btn btn-dark text-white w-100">Barchasini yuklab olish</a>
               </div>
               <div class="col-lg-4 mb-lg-0 mb-3">
                  <a href="/islom/export-pdf" class="btn btn-primary w-100">PDF Export</a>
               </div>
               <form action="/delete" method="post" class="col-lg-4">
                  <button class="btn btn-danger d-lg-inline-block w-100">
                     Barchasini o'chirish
                  </button>
                  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
               </form>
            </div>
            <div class="table-responsive mt-4">
               <table class="text-center table table-hover table-striped table-bordered">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Ismi</th>
                        <th>ID</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{#each sertificates}}
                        <tr>
                           <td class="index">0</td>
                           <td>{{fullName}}</td>
                           <td>{{sertificateId}}</td>
                        </tr>
                     {{/each}}
                  </tbody>
               </table>
            </div>
         </div>
      {{else}}
         <div class="col-12">
            <div class="alert alert-dark text-center">sertifikatlar mavjud emas</div>
         </div>
      {{/if}}
   </div>
</div>

<script>
   const indexes = document.querySelectorAll('.index')
   indexes.forEach(function(item, index){
      item.innerHTML = index+1
   })

   const socket = new WebSocket("ws://certificate.tezzkor.com");
</script>